<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
    <nav class="menu2">
        <label></label>
        <ul class="menu_items2">
            <li class="active" ><a href="">Iniciar sesion</a></li>
        </ul>
    </nav> 
    <nav class="menu">
        <label class="logo" href="/Logo.ico">ESS</label>
        <ul class="menu_items">
            <li class="active" ><a href="">Inicio</a></li>
            <li><a href="/Acerca de nosotros">Acerca de nosotros</a></li>
            <li><a href="/Productos y servicios">Productos y servicios</a></li>
            <li><a href="/Contacto">Contacto</a></li>
        </ul>
    </nav> 
</body>
</html>


