*,*:before,*:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.menu{
    background-color:rgb(92, 118, 133);
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 140px;
}
.menu2{
    background-color: black;
    height: 0.5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px;
    border-bottom: 0px;
}
.logo{
    color: white;
    padding: 0;
    font-weight:600;
    font-size: 2.4rem;
}
.menu_items, .menu_items2{
    display: flex;
    list-style: none;
    margin-right: 30 px;
}

.menu_items li, .menu_items2 li{
    border-radius: 3px;
    margin: 0 5 px;
}

.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: white;
}

.menu_items2 li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    color: white;
}

.menu_items li:hover , li:active {
    background-color: rgba(110, 74, 42,0.3);
    transition: .4s;
}


