<span class="close-tab"  *ngIf="isPopupVisible == true" (click)="closePopup()">X</span>
    <nav class="menu2">
        <label></label>
        <button class="login-button" (click)="openPopup()">Iniciar sesión</button>
    </nav> 
    <nav class="menu">
        <label class="logo" href="/Logo.ico">ESS</label>
        <ul class="menu_items">
            <li class="active" ><a href="">Inicio</a></li>
            <li><a href="/Acerca de nosotros">Acerca de nosotros</a></li>
            <li><a href="/Productos y servicios">Productos y servicios</a></li>
            <li><a href="/Contacto">Contacto</a></li>
        </ul>
    </nav> 
    <app-login-popup *ngIf="isPopupVisible"></app-login-popup>