<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <link rel="stylesheet" href="header.component.css">
</head>
<body>
    <nav class="menu">
        <label class="logo">ESS</label>
        <ul class="menu_items">
            <li class="active"><a href="#home">Inicio</a></li>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Productos y servicios</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav> 
    <span class="btn_menu">
        <i class="fa fa-bars"></i>
    </span>
</body>
</html>


