<app-header></app-header>

<div class="container">
    <div  style="display: block;padding: 10px;"></div>
    <H1 class="text-center">Todos los productos</H1>
    <hr>
    <div class="row">
        <div class="col-4 ">
            <a href="/Baterías"><div class="border rounded text-center" class="items"><h2>Baterías</h2></div></a>
           <img src="https://live.staticflickr.com/65535/52851999229_1528f3a3f4.jpg" width="400px"/>
        
        </div>
        <div class="col-4">
            <a href="/Paneles Solares"><div class="border rounded text-center" class="items"><h2>Paneles Solares</h2></div></a>
            <img src="https://live.staticflickr.com/65535/52861067142_fb944cb172.jpg" />
        </div>
        <div class="col-4">
            <a href="/Inversores"><div class="border rounded text-center" class="items"><h2>Inversores</h2></div></a>
            <img src="https://live.staticflickr.com/65535/52861723121_15533a765b.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <a href="\Equipos de distribución Energética"><div class="border rounded text-center" class="items"><h2>Equipos de distribución Energética</h2></div></a>
            <img src="https://live.staticflickr.com/65535/52862182023_829e219701.jpg" width="400px"/>
        </div>
        <div class="col-4">
            <a href="/Sistemas de instalación y control"><div class="border rounded text-center" class="items"><h2>Sistemas de Instalación y Control</h2></div></a>
            <img src="https://live.staticflickr.com/65535/52861187247_bc378ee416.jpg" width="400px" height="270px"/>
        </div>
        <div class="col-4">
            <div class="border rounded text-center" class="items"><h2>Más Servicios</h2></div>
            <div  class="abs-center"><a href=""><i class="fa-solid fa-plus fa-beat fa-2xl" style="cursor: pointer;"></i></a></div>
            
        </div>
    </div>
    <div  style="display: block;padding: 30px;"></div>
    <hr>
    <div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ducimus ab inventore voluptatibus placeat nesciunt? Rem maiores praesentium impedit repellendus veniam quod enim sunt, consectetur facere sapiente quam, dolor provident?
        </p>
    </div>
</div>




<app-footer></app-footer>