<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="border col-sm ">1</div>
        <div class="border col-sm">2</div>
        <div class="border col-sm">3</div>
        <div class="border col-sm">4</div>
        <div class="border col-sm">5</div>
        <div class="border col-sm">6</div>
        <div class="border col-sm">7</div>
        <div class="border col-sm">8</div>
        <div class="border col-sm">9</div>
        <div class="border col-sm">10</div>
        <div class="border col-sm">11</div>
        <div class="border col-sm">12</div>
    </div>
    <div class="row">
        <div class="border col-4">sapo perro</div>
    </div>
</div>
<H1>Todos los productos</H1>



<app-footer></app-footer>