<div class="margen">
  <div class="card text-center ">
    <div class="overflow">
      <img [src]="datos.imagen" alt="Imagen del producto" class="card-img-top" />
    </div>
    <div class="card-body text-light">
      <h4 class="card-title">{{datos.nombre}}</h4>
      <p class="card-text ">
         Costo: {{ datos.precio ? datos.precio : 'No hay precio disponible' }}
      </p>
      <a [href]="datos.enlace" class="btn btn-outline-secondary rounded-0" target="_blank">
        Comprar producto
      </a>
      <div><p>Stock: {{datos.stock}} </p></div>
    </div>
  </div>
</div>