<div class="row">
    <div class="col-md-4">
        <div class='card text-center bg-dark'>
            <div class='Overflow'>
              <img src="" alt='Veterinario' class='card-img-top'/>
            </div>
              <div class='card-body text-light'>
                  <h4 class='card-title ' >Nombre</h4>
                  <p class='card-text text-primary'> 
                  
                    text ? text: 'Este Animal está en perfectas condiciones y no sufre de ninguna enfermedad ni patologia tiene todas las vacunas al dia y exelente estado de salud'
                  
                  </p>
                  <a href="" class='btn btn-outline-secondary rounded-0' target='_blank'>
                    Historial
                  </a>
              </div>
          </div>
    </div>
    
</div>