


<footer class="bg-dark-light">
    <div style="display: flex;">
        <div class="logo">
            Ess
        </div>
        <div class="redes">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-whatsapp"></i>
            
        </div>

    </div>
    <hr>
    <div>
        <h1>Frase inspiradora</h1>
    </div>
    <div class="derechos">
        <p class="text-white">
            &copy; Daniel Moya
        </p>
    </div>
 
</footer>
