*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-dark-light {
    background: #4765B4!important;
    color:white;
margin-top: auto;
 
    
    
}
.derechos {
    background: black ;
    color:white;
}
.logo_1 {
    display: flex;
    width: 85%;
}

.redes {
    padding: 20px;
    float: right;
}
.redes a i:hover, a i:active{
    color: #00AF7B;
    transition: .4s;
    cursor: pointer;
}

.text-white {
    text-align: center;
}
.social {
padding: 5px;
color: white;
}
hr {
    background: white;
    border-color: white;
}
