


<footer class="bg-dark-light">
    <div style="display: flex;">
        <div class="logo_1">
            Ess
        </div>
        <div class="redes">
            <a class="social" href="https://www.facebook.com/daniel.moya.73997"><i class="fa-brands fa-facebook fa-2x"></i></a>
            <a class="social" href="https://www.instagram.com/daalmodi/?hl=es-la"><i class="fa-brands fa-instagram fa-2x"></i></a>
            <a class="social" href="https://www.linkedin.com/in/daniel-moya-babb16271/"><i class="fa-brands fa-linkedin fa-2x"></i></a>
            <a class="social" href=""><i class="fa-brands fa-whatsapp fa-2x"></i></a>  
        </div>

    </div>
    <hr>
    <div>
        <h3>«No hay crisis energética, sólo una crisis de ignorancia». R. Buckminster Fuller</h3>
    </div>
    <div class="derechos">
        <p class="text-white">
            &copy; Derechos reservados
        </p>
    </div>
 
</footer>
